.divGaleriaEncuestas{
    display: flex;
    margin: 30px;
}

.boxMainEvaluaciones{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelTitulo{
    margin-top: 0 !important;
}