.background{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divEvaluaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.botonEvaluaciones{
    width: 200px;
    margin: 50px;
}