.background{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.divEvaluaciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.botonEvaluaciones{
    width: 200px;
    margin: 50px;
}

.imagenBotones{
    width: 400px;
}

.imagenBotones2{
    width: 300px;
}