.divPerfil {
  display: flex;
}

.imagePerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputEditar{
  margin-top: 30px !important;
  width: 80%;
}

.iconButton{
  margin-top: 30px !important;
}

.iconButtonVacio{
  margin-top: 30px !important;
  width: 9%;
}
.nombreUsuarioEditar {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
}

.btnEditar {
  margin-top: 30px;
  margin-right: 10px;
  width: 100%;
}

.labelTitulo {
    color: black !important;
    margin-top: 50px !important;
  }

.campoEditar{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    width: 80% !important;
    padding-left: 20px;
    padding-right: 20px;
}

.boxButtonFooter{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}
