.labelTitulo1 {
  color: black !important;
}

.boxMain {
  margin-top: 100px;
  margin-right: 40px !important;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxTexto {
  margin-top: 50px;
  width: 80% !important;
  height: 80% !important;
  display: flex;
}

.botonPrevieEncuesta{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.boxBtnPreview{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBtnPreview{
  width: 70%;
  height: 70%;
}

.imgBtnPreview1{
  width: 70%;
  height: 70%;
  transform: scaleX(-1);
}

.boxMainTitulo{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.boxImgTitulo{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgTitulo{
  height: 100px;
  width: 100px;
}